<body>                                                  {{! end=9 }}
<body style="background-color: {{farbe}}">              {{! start=9 }}
  <h3>Willkommen auf meiner Website</h3>

  <form action="/setcolor" method="post">               {{! start=6 }}
    Name: <input type="color" name="farbe">             {{! start=6 }}
    <input type="submit" value="OK">                    {{! start=6 }}
  </form>                                               {{! start=6 }}

</body>
