<div class="todos">
  {{#todos}}
    <div class="item">
      {{name}}                                  {{! end=5 }}
      <a href="/todos/{{id}}">{{name}}</a>      {{! start=5 }}
    </div>
  {{/todos}}
</div>
