<b>{{todo.name}}</b> {{todo.deadline}}

<form action="/todos/{{todo.id}}/delete" method="POST">         {{! start=4 }}
  <input type="submit" value="Löschen">                         {{! start=4 }}
</form>                                                         {{! start=4 }}
