<!DOCTYPE html>
<body>
  <h3>Hallo Welt!</h3>
  <p>Willkommen auf meiner Website</p>
  <a href="https://bbz-cfp.ch">BBZ Biel</a>
  <video src="https://i.imgur.com/MxAE8Wp.mp4">

  {{> footer}}                                          {{! start=4 }}
</body>
