<div class="todos">                         {{! start=8 }}
  {{#todos}}                                {{! start=8 }}
    <div class="item>                       {{! start=8 }}
      {{name}}                              {{! start=8 }}
    </div>                                  {{! start=8 }}
  {{/todos}}                                {{! start=8 }}
</div>                                      {{! start=8 }}
