<!DOCTYPE html>                                   {{! start=7 }}
<body>                                            {{! start=7 }}
  <h3>Hallo Welt!</h3>                            {{! start=7 }}
  <p>Willkommen auf meiner Website</p>            {{! start=7 }}
  <a href="https://bbz-cfp.ch">BBZ Biel</a>       {{! start=8 }}
  <video src="https://i.imgur.com/MxAE8Wp.mp4">   {{! start=8 }}
</body>                                           {{! start=7 }}
