<form action="/create" method="post">               {{! start=4 }}
  Name: <input type="text" name="name">             {{! start=4 }}
  <input type="submit" value="OK">                  {{! start=4 }}
</form>                                             {{! start=4 }}