<form action="/upload" enctype="multipart/form-data" method="post">     {{! start=5 }}
  <input type="text" name="text">                                       {{! start=5 }}
  <input type="file" name="image">                                      {{! start=5 }}
  <input type="submit">                                                 {{! start=5 }}
</form>                                                                 {{! start=5 }}
