<form action="/create_post" enctype="multipart/form-data" method="post">     {{! start=3 }}
  <input type="text" name="text">                                       {{! start=3 }}
  <input type="file" name="image">                                      {{! start=3 }}
  <input type="submit">                                                 {{! start=3 }}
</form>                                                                 {{! start=3 }}
