<form action="/create_post" method="post">                                   {{! end=4 }}
<form action="/create_post" enctype="multipart/form-data" method="post">     {{! start=4 }}
  <input type="text" name="text">
  <input type="file" name="image">                                      {{! start=4 }}
  <input type="submit">
</form>
