<div class="todos">                         {{! start=4 }}
  {{#todos}}                                {{! start=4 }}
    <div class="item">                      {{! start=4 }}
      {{name}}                              {{! start=4 }}
    </div>                                  {{! start=4 }}
  {{/todos}}                                {{! start=4 }}
</div>                                      {{! start=4 }}